* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html, body {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #999999;
  overflow-x: hidden;
}
body.lock {
  overflow: hidden;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.map__title::after, .clients__pos::after, .review__author::before, .section__title::after, .hero__stat-item.active::before, .hero__title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 8;
}
.header.scroll {
  background-color: #e78182;
}
.header.scroll .header__body {
  padding-bottom: 30px;
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px 15px;
}
.header__logo {
  flex: 1 1 auto;
  position: relative;
  z-index: 5;
}
.header__menu {
  margin-right: 50px;
}
.header__icons {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
}
.header__icon {
  margin-right: 30px;
}
.header__icon:last-child {
  margin-right: 0;
}
.header__icon svg {
  width: 18px;
  height: 18px;
  fill: #ffffff;
}
.header__burger {
  display: none;
}

@media (max-width: 768px) {
  .header.scroll .header__body {
    padding-bottom: 10px;
  }
  .header__body {
    padding: 10px 0;
  }
  .header__icons {
    margin-right: 30px;
  }
  .header__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 7;
  }
  .header__burger::before, .header__burger::after,
.header__burger span {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    left: 0;
    transition: transform 0.3s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    top: 9px;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100%;
    background-color: #e78182;
    overflow: auto;
    z-index: 6;
    padding: 40px 13px 20px;
    margin-right: 0;
    transition: all 0.3s ease 0s;
  }
  .header__menu.active {
    right: 0;
  }
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__item {
  margin-right: 50px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}
.menu__link::after {
  content: "";
  position: absolute;
  top: 140%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fce38a;
  transition: all 0.3s linear;
  opacity: 0;
  visibility: hidden;
}
.menu__link:hover {
  color: #fce38a;
}
.menu__link:hover::after {
  opacity: 1;
  visibility: visible;
}
.menu__link.clicked::after {
  opacity: 1;
  visibility: visible;
}

.hero {
  position: relative;
  background: url(./../src/img/bg/hero-bg.jpg) top center no-repeat;
  background-size: cover;
}
.hero__inner {
  height: 100vh;
  height: 100dvh;
  min-height: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__item {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
.hero__subtitle {
  font-family: "Kaushan Script", sans-serif;
  font-size: 72px;
  color: #ffffff;
}
.hero__title {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 150px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 80px;
}
.hero__title::after {
  bottom: -5%;
  background-color: #ffffff;
}
.hero__btn {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  padding: 8px 20px;
  border: 3px solid #ffffff;
  transition: all 0.3s linear;
}
.hero__btn:hover {
  background-color: #ffffff;
  color: #f38181;
}
.hero__stat {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.hero__stat-item {
  position: relative;
  flex: 0 1 calc(25% - 30px);
  max-width: 250px;
  display: flex;
  align-items: center;
  border-top: 3px solid #ffffff;
  padding-top: 20px;
  cursor: pointer;
}
.hero__stat-item.active::before {
  top: -3px;
  left: 0;
  width: 100%;
  transform: translateX(0);
  -webkit-animation: border 1.5s normal;
          animation: border 1.5s normal;
}
.hero__stat-num {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  margin-right: 10px;
}
.hero__stat-name {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

@-webkit-keyframes border {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes border {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.section {
  padding: 100px 0;
}
.section--padding {
  padding: 50px 0;
  background-color: #f8f8f8;
}
.section--bottom {
  padding-bottom: 0;
}
.section--devices {
  background: url(./../src/img/bg/devices-bg.jpg) top center no-repeat;
  background-size: cover;
}
.section--clients {
  background: url(./../src/img/bg/clients-bg.jpg) top center no-repeat;
  background-size: cover;
}
.section__header {
  max-width: 77%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
}
.section__subtitle {
  font-family: "Kaushan Script", sans-serif;
  font-size: 24px;
  color: #333333;
  margin-bottom: 15px;
}
.section__title {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 60px;
}
.section__title::after {
  top: 150%;
}
.section__title.title-reset {
  font-size: 0;
  opacity: 0;
  visibility: hidden;
  margin: 0;
  padding: 0;
}
.section__text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #999999;
}

.hover__item {
  background-color: #95e1d3;
}
.hover__item:hover .hover__img {
  transform: translate(-10px, -10px);
}
.hover__item:hover .hover__hover {
  opacity: 0.9;
  visibility: visible;
}
.hover__img {
  position: relative;
  transition: transform 0.3s linear;
}
.hover__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #f38181, #fce38a);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 5px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}

.about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}
.about__item {
  flex: 0 1 calc(33.33% - 25px);
}
.about__item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 30px;
  background: url(./../src/img/svg/team-icon.svg) top center no-repeat;
}

.info {
  background-color: #95e1d3;
}
.info__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.info__item {
  flex: 0 1 20%;
  padding: 70px 25px;
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.info__item:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.info__num {
  font-family: "Montserrat", sans-serif;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
.info__text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.services__item {
  flex: 0 1 33.33%;
  padding: 0px 60px 50px;
  background-size: 32px 32px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 50px;
}
.services__item:nth-child(1) {
  background: url(./../src/img/services/photography.png) top left no-repeat;
}
.services__item:nth-child(2) {
  background: url(./../src/img/services/webdesign.png) top left no-repeat;
}
.services__item:nth-child(3) {
  background: url(./../src/img/services/creativity.png) top left no-repeat;
}
.services__item:nth-child(4) {
  background: url(./../src/img/services/seo.png) top left no-repeat;
}
.services__item:nth-child(5) {
  background: url(./../src/img/services/css-html.png) top left no-repeat;
}
.services__item:nth-child(6) {
  background: url(./../src/img/services/digital.png) top left no-repeat;
}
.services__item:nth-child(n+4) {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.services__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 20px;
}
.services__text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #999999;
}

.devices__ipad {
  position: relative;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
}
.devices__iphone {
  position: absolute;
  top: 35%;
  right: -20%;
}

.accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.accordion__list {
  flex: 0 1 50%;
}
.accordion__item {
  margin-bottom: 5px;
}
.accordion__item.open .accordion__content {
  max-height: 185px;
  opacity: 1;
  padding: 20px;
}
.accordion__item.open .accordion__icon {
  transform: rotate(180deg);
}
.accordion__control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0px 20px;
  cursor: pointer;
  border: 1px solid #e5e5e5;
}
.accordion__control::-webkit-detalis-marker {
  display: none;
}
.accordion__title {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  padding: 20px 0 20px 40px;
  background-size: 32px 32px;
}
.accordion__title--photography {
  background: url(./../src/img/services/photography.png) center left no-repeat;
}
.accordion__title--creativity {
  background: url(./../src/img/services/creativity.png) center left no-repeat;
}
.accordion__title--design {
  background: url(./../src/img/services/webdesign.png) center left no-repeat;
}
.accordion__icon {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 12px;
  transition: transform 0.3s ease;
}
.accordion__icon::before, .accordion__icon::after {
  content: "";
  position: absolute;
  top: 0;
  width: 3px;
  height: 17px;
  background-color: #cccccc;
}
.accordion__icon::before {
  left: 0;
  transform: rotate(-40deg);
}
.accordion__icon::after {
  left: 50%;
  transform: rotate(40deg);
}
.accordion__content {
  max-height: 0;
  opacity: 0;
  overflow-y: scroll;
  padding: 0 20px;
  border: 1px solid #e5e5e5;
  border-top: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 300;
  font-style: italic;
  color: #999999;
  transition: all 0.3s ease;
}

.review {
  position: relative;
}
.review__item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 20px;
}
.review__img {
  flex: 0 1 20%;
}
.review__icon {
  box-sizing: content-box;
  flex: 0 1 7%;
  border: 3px solid #95e1d3;
  padding: 2%;
}
.review__icon img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.review__info {
  flex: 0 1 65%;
}
.review__text {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 300;
  font-style: italic;
  color: #999999;
  margin-bottom: 25px;
}
.review__author {
  position: relative;
  font-family: "Kaushan Script", sans-serif;
  font-size: 24px;
  padding-left: 60px;
  color: #333333;
}
.review__author::before {
  top: 50%;
  left: 0;
  transform: translateX(0);
}

.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
}
.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  width: 15px;
  height: 28px;
  font-size: 0;
  cursor: pointer;
  background-size: cover;
}
.slick-next {
  background: url(./../src/img/svg/arrow-next.svg) top center no-repeat;
  right: 0;
}
.slick-prev {
  background: url(./../src/img/svg/arrow-prev.svg) top center no-repeat;
  left: 0;
}

.team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}
.team__item {
  flex: 0 1 calc(33.33% - 25px);
}
.team__item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team__inner {
  margin-bottom: 30px;
}
.team__social {
  display: flex;
  justify-content: center;
  gap: 2px;
}
.team__social-item {
  position: relative;
  flex: 0 1 25%;
  max-width: 55px;
  text-align: center;
}
.team__social-item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 55px;
  z-index: -1;
  background-color: #fce38a;
  transition: background-color 0.3s linear;
}
.team__social-item svg {
  width: 30px;
  height: 25px;
  fill: #f38181;
  transition: fill 0.3s linear;
}
.team__social-item:hover::after {
  background-color: #f38181;
}
.team__social-item:hover svg {
  fill: #ffffff;
}
.team__info {
  text-align: center;
}
.team__name {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 15px;
}
.team__pos {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.partners__item {
  flex: 0 1 calc(16.6% - 10px);
  text-align: center;
}

.works {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.works__item {
  position: relative;
}
.works__item--big {
  grid-row: span 2;
}
.works__item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.works__item.clicked .works__info {
  opacity: 1;
  visibility: visible;
}
.works__info {
  background: url(./../src/img/svg/photo.svg) top center no-repeat;
  background-size: 30px 30px;
  padding-top: 45px;
}
.works__name {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 17px;
}
.works__text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #ffffff;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  gap: 150px 80px;
}
.clients__item {
  flex: 0 1 calc(50% - 40px);
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.clients__img {
  flex: 0 1 21%;
}
.clients__info {
  flex: 0 1 75%;
}
.clients__name {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 15px;
}
.clients__pos {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #333333;
  margin-bottom: 40px;
}
.clients__pos::after {
  top: 150%;
  left: 0;
  transform: translateX(0);
}
.clients__text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #999999;
}

.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.blog__item {
  flex: 0 1 calc(33.33% - 20px);
}
.blog__item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog__img {
  position: relative;
  margin-bottom: 20px;
}
.blog__date {
  position: absolute;
  left: -7px;
  bottom: 10px;
  background-color: #95e1d3;
  padding: 10px 15px;
}
.blog__day {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.blog__mounth {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #ffffff;
}
.blog__title {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 20px;
}
.blog__title:hover {
  text-decoration: underline;
}
.blog__text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #999999;
  margin-bottom: 20px;
}
.blog__info {
  display: flex;
  align-items: center;
  padding-top: 15px;
  border-top: 1px solid #e5e5e5;
}
.blog__info-item {
  display: flex;
  margin-right: 10px;
}
.blog__info-item:last-child {
  margin-right: 0;
}
.blog__info-icon {
  margin-right: 2px;
}
.blog__info-icon svg {
  fill: #95e1d3;
}
.blog__info-num {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
}

.map {
  padding: 60px 0 80px;
  background: url(./../src/img/bg/map-bg.jpg) top center no-repeat;
  background-size: cover;
}
.map__title {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 40px;
  color: #f38181;
  text-align: center;
  background: url(./../src/img/svg/gps.svg) top center no-repeat;
  background-size: 20px 26px;
}
.map__title::after {
  top: 150%;
}

.footer {
  padding-top: 100px;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 80px;
}
.footer__info {
  flex: 0 1 40%;
}
.footer__title {
  font-family: "Montserrat", sans-serif;
  font-size: 46px;
  font-weight: 700;
  color: #cccccc;
  margin-bottom: 40px;
}
.footer__text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #999999;
  margin-bottom: 45px;
}
.footer__followers {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #333333;
  padding-bottom: 15px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 25px;
}
.footer__followers span {
  font-size: 18px;
  font-weight: 700;
}
.footer__social {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.footer__social-text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
  margin-right: 35px;
}
.footer__social-links {
  display: flex;
  align-items: center;
}
.footer__social-item {
  margin-right: 20px;
}
.footer__social-item:last-child {
  margin-right: 0;
}
.footer__social-link svg {
  width: 20px;
  height: 16px;
  fill: #95e1d3;
}
.footer__form {
  display: flex;
  align-items: center;
}
.footer__form-input {
  flex: 0 1 50%;
  height: 40px;
  border: 1px solid #e7e7e7;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #cccccc;
  padding-left: 10px;
}
.footer__form-button {
  flex: 0 1 30%;
  padding: 11px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #95e1d3;
}
.footer__column {
  padding-top: 10px;
}
.footer__blog {
  flex: 0 1 30%;
}
.footer__header {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 40px;
}
.footer__blog-item {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-bottom: 30px;
}
.footer__blog-img {
  flex: 1 1 35%;
}
.footer__blog-info {
  flex: 1 1 65%;
}
.footer__blog-title {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 5px;
}
.footer__blog-title:hover {
  text-decoration: underline;
}
.footer__blog-date {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 1.8;
  font-weight: 300;
  font-style: italic;
  color: #999999;
}
.footer__insta {
  flex: 0 1 23%;
}
.footer__insta-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 20px;
}
.footer__insta-item {
  flex: 0 1 calc(33.33% - 5px);
}
.footer__insta-text {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-style: italic;
  color: #333333;
}
.footer__bottom {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #333333;
  padding: 15px 0;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
.footer__bottom span {
  color: #f38181;
}

@media (max-width: 992px) {
  .hero__subtitle {
    font-size: 50px;
  }
  .hero__title {
    font-size: 100px;
    margin-bottom: 40px;
  }
  .about__item {
    flex-basis: calc(50% - 25px);
  }
  .info__item {
    flex-basis: 33.33%;
  }
  .info__item:nth-child(3n) {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }
  .services__item {
    flex-basis: 50%;
  }
  .services__item:nth-child(4) {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
  .accordion {
    flex-direction: column;
  }
  .accordion__list {
    order: 1;
  }
  .accordion__img {
    order: 2;
  }
  .team__item {
    flex-basis: calc(50% - 25px);
  }
  .partners {
    row-gap: 30px;
  }
  .partners__item {
    flex-basis: calc(33.33% - 10px);
  }
  .review__info {
    flex-basis: 75%;
  }
  .works {
    grid-template-columns: repeat(2, 1fr);
  }
  .clients {
    gap: 100px 20px;
  }
  .clients__item {
    flex-basis: calc(50% - 10px);
  }
  .blog__item {
    flex-basis: calc(50% - 20px);
  }
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer__info {
    flex-basis: 55%;
    margin-bottom: 20px;
  }
  .footer__blog {
    flex-basis: 40%;
  }
  .footer__blog-item img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .footer__insta {
    flex-basis: 40%;
  }
  .footer__insta-item img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 768px) {
  .menu__list {
    display: block;
    padding-top: 30px;
  }
  .menu__item {
    margin: 0 0 20px 0;
  }
  .menu__link {
    font-size: 35px;
  }
  .menu__link::after {
    top: 120%;
  }
  .hero__inner {
    min-height: 600px;
  }
  .section {
    padding: 55px 0;
  }
  .section--padding {
    padding: 25px 0;
  }
  .section--bottom {
    padding-bottom: 0;
  }
  .section__header {
    max-width: 100%;
    margin-bottom: 60px;
  }
  .section__subtitle {
    margin-bottom: 7px;
  }
  .section__title {
    font-size: 24px;
    margin-bottom: 40px;
  }
  .section__text {
    font-size: 13px;
  }
  .services__item {
    padding-right: 20px;
  }
  .devices__ipad {
    max-width: 70%;
  }
  .devices__iphone {
    max-width: 55%;
    top: 35%;
    right: -20%;
  }
  .review__item {
    flex-direction: column;
    padding: 0;
  }
  .review__img {
    max-width: 20%;
    margin: 0 auto 15px;
  }
  .review__icon {
    max-width: 10%;
    margin: 0 auto 15px;
  }
  .review__text {
    font-size: 18px;
  }
  .review__author {
    font-size: 18px;
  }
  .slick-arrow {
    top: 10%;
  }
  .slick-prev {
    left: 10%;
  }
  .slick-next {
    right: 13%;
  }
  .clients {
    row-gap: 45px;
  }
  .clients__item {
    flex-basis: 100%;
    gap: 10px;
  }
  .clients__info {
    flex-basis: 85%;
  }
}
@media (max-width: 576px) {
  .header__menu {
    width: 85%;
  }
  .hero__subtitle {
    font-size: 35px;
  }
  .hero__title {
    font-size: 50px;
  }
  .hero__stat-item {
    flex-basis: calc(50% - 30px);
    padding-top: 10px;
  }
  .about__item {
    flex-basis: 100%;
  }
  .info__inner {
    row-gap: 10px;
  }
  .info__item {
    padding: 20px 10px;
  }
  .info__num {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .info__text {
    font-size: 12px;
  }
  .services__item {
    flex-basis: 100%;
    padding-right: 0;
  }
  .services__item:nth-child(5) {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
  .team__item {
    flex-basis: 100%;
  }
  .partners__item {
    flex-basis: calc(50% - 10px);
  }
  .works__info {
    background: none;
    padding-top: 0;
  }
  .works__name {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .blog__item {
    flex-basis: 100%;
  }
  .footer__inner {
    display: block;
  }
  .footer__form-button {
    flex-basis: 40%;
  }
  .footer__blog-img {
    flex-basis: auto;
  }
  .footer__insta {
    max-width: 60%;
  }
  .footer__bottom {
    font-size: 13px;
  }
}