.info {
   background-color: #95e1d3;

	&__inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
   }

   &__item {
      flex: 0 1 20%;
      padding: 70px 25px;
      text-align: center;
      border-left: 1px solid rgba($color: #fff, $alpha: .3);
      &:last-child {
         border-right: 1px solid rgba($color: #fff, $alpha: .3);
      }
   }

   &__num {
      font-family: $title;
      font-size: 72px;
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff;
      margin-bottom: 30px;
   }

   &__text {
      font-family: $title;
      font-size: 14px;
      text-transform: uppercase;
      color: #ffffff;
   }
}