.partners {

   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 10px;

   &__item {
      flex: 0 1 calc(16.6% - 10px);
      text-align: center;
   }
}